*{
    box-sizing: border-box;
}

.link{
    margin: 0;
    margin-left: 10px;
    color: gray;
    width: "fit-content";
    font-size: 15px;
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap;
}
.link:hover{
    cursor: pointer;
    color: gray;
    text-decoration: underline;
}
 